body {
  /*padding-left: 30%;
  padding-right: 30%;*/
}

.start {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 48px;
}

.stop {
    background-color: #008CB0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
}

.main {
  background-color: #F5F5F5;
  text-align: center;
  padding: 50px;
}

.timer {
  background-color: #FFFFFF;
  margin: 10px;
  display: none;
}

.intensity {
  background-color: #008CB0;
  margin: 10px;
}

.timetable {
  background-color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 10px;
}

.intensity span {
  font-size: 72px;
  color: #FFFFFF
}

.buttons {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 25px;
}

.time {
  font-size: 196px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  text-align: center;
  color: #FFFFFF;
  font-size: 48px;
  padding: 3px;
  background-clip: content-box;

}
